@font-face{
	font-family: 'Roya';
	src: url('Roya.eot');
	src: url('Roya.eot?#iefix') format('embedded-opentype'),
	     url('Roya.woff') format('woff'),
	     url('Roya.ttf') format('truetype'),
	     url('Roya.svg#webfont') format('svg');
}

* {
	font-family: 'Roya', Helvetica, Arial;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 40px;
  padding-bottom: 120px;
}

.lineup-button {
  margin-top: 40px;
}

.chrome-extension {
  margin-top: 30px;
}

p.program-title {
  display: inline;
}

p.program-description {
  font-style: italic;
  color: gray;
	margin: 0
}

.band {
  background-color: #3897e0;
  border-radius:3px 3px 0 0;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 110px;
  background: #d5ddea;
  color: #464a51;
}

.footer .player-bar-row {
  background: black;
  color: white;
  height: 50px;
  padding: 0px 20px 0px 0px;
  margin: 0px
}

.footer .footer-row {
  padding: 20px 20px 0px 20px;
  margin: 0px
}
