@font-face{ 
	font-family: 'Roya';
	src: url('Roya.eot');
	src: url('Roya.eot?#iefix') format('embedded-opentype'),
	     url('Roya.woff') format('woff'),
	     url('Roya.ttf') format('truetype'),
	     url('Roya.svg#webfont') format('svg');
}

* { 
	font-family: 'Roya', Helvetica, Arial; 
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 70px;
}

.current-program-button {
  margin-top: 50px;
}

.chrome-extension {
  margin-top: 30px;
}

p.program-title {
  line-height: 0px;
}

p.program-description {
  font-style: italic;        
  color: gray;
}

.band {
  background-color: #3897e0;
  border-radius:3px 3px 0 0;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background: #d5ddea;
  color: #464a51;
  padding: 20px;
}